<ion-view view-title="关于我们">
    <ion-content>
        <ion-list>
            <ion-item style="border: none;">
                <span style="color:#9e9fa3;">公司名称：</span><span style="color: #333;width: 200px;display: inline-block;">深圳车仆汽车服务有限公司</span>
            </ion-item>
            <ion-item style="border: none;overflow: inherit;
    text-overflow: inherit;
    white-space: inherit;">
                <span style="color:#9e9fa3;vertical-align: top;">公司地址：</span><span style="color: #333;width: 200px;display: inline-block;">深圳市保安区石岩镇 永兴工业区三九工业园（石岩汽车站后面）</span>
            </ion-item>
            <ion-item style="border: none;">
                <span style="color:#9e9fa3;">公司总机：</span><span style="color: #333;width: 200px;display: inline-block;">+86-0755-33525887</span>
            </ion-item>
            <ion-item style="border: none;">
                <span style="color:#9e9fa3;">咨询热线：</span><span style="color: #333;width: 200px;display: inline-block;">400-8313-400</span>
            </ion-item>
            <ion-item style="border: none;">
                <span style="color:#9e9fa3;">加盟热线：</span><span style="color: #333;width: 200px;display: inline-block;">(0075)83186939/400-8313-4000</span>
            </ion-item>
            <ion-item style="border: none;">
                <span style="color:#9e9fa3;">扫码关注：</span>
                <div class="row">
                    <div class="col col-50">
                        <img style="width: 100%;padding: 5px;" src="img/chiefWechat.png">
                    </div>
                    <div class="col col-50">
                        <img style="width: 100%;padding: 5px;" src="img/chiefSina.png">
                    </div>
                </div>


            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>