<ion-view animation="slide-left-right" style="background-color:#e6e6e6;">
    <ion-nav-title>
        <h4 class="title text-white">车型列表</h4>
    </ion-nav-title>
    <ion-nav-buttons side="right">
        <button class="button button-energized" style="font-size: 15px;" ng-click="chooseBrand()">确定</button>
    </ion-nav-buttons>
    <ion-content>
        <div style="background-color:#fff;">
        <div class="ibsRow">
               <div class="overallColor changeRadioCss radiocss2" >
               <div class="textflow"  ng-click="changeBrand(brandType.automodelName)" ng-repeat="brandType in brandTypes">
                <ion-radio name="carType" value="{{brandType.automodelName}}" ng-model="carBrand">{{brandType.automodelName}}</ion-radio>
                </div>                
              </div>
            </div>
             </div>
    </ion-content>
</ion-view>