<ion-view view-title="车险进度">
    <!-- <ion-nav-title>
        <div class="bar bar-header ">
            <div class="h1 title">车险进度</div>
        </div>
    </ion-nav-title> -->
    <!--  <ion-tabs class="tab-color tabs-top tabs-striped">
        <ion-tab title="{{tab.name}}" ng-click="selectTabWithIndex($index)" ng-repeat="tab in insureProgressTabs">
        </ion-tab>
    </ion-tabs> -->

    <ion-content class="grayWbg">
        <div class="tab-selectBar">
            <div style="flex:1;text-align: center;" class="tab_default" ng-repeat="tab in insureProgressTabs" ng-click="selectTabWithIndex($index)" ng-class="slectIndex==$index ? 'tab_select' : '' ">
                {{tab.name}}
            </div>
        </div>
        <ion-refresher pulling-text="下拉刷新" on-refresh="doRefresh()"></ion-refresher>
        <div class="bar item-input-inset change" style="margin-bottom: 8px;">
            <div class="item-input-wrapper">
                <i class="icon ion-ios-search placeholder-icon"></i>
                <input type="search" input-uppercase ng-model="search.carNum" placeholder="输入车牌号进行查询">
                <i class="icon  ion-ios-close-outline placeholder-icon" style="right:0px;" ng-if="search.carNum" ng-click="search.carNum = ''"></i>
            </div>
            <button class="button searchButton" ng-click="searchOrder()"> 查询 </button>
        </div>
        <ion-list ng-show='!isShow'>
            <div class="nullResult">
                <div><img src="img/02.png"></div>
                <p class="mainTextColor changeColor">暂无订单数据</p>
            </div>
        </ion-list>
        <ion-list ng-show='isShow'>
            <ion-item class="listItem" ng-repeat="message in mes">
                <div class="itemWrap">
                    <a class="topWrap no-border selectItem" ng-click="toDetails(message.orderTags,message.orderId)">
                        <div class="flexWrap">
                            <p class="flexl"><span ng-if="message.licenseNo" class="carTitle" ng-class="{greenWbg:message.isNewEnergy==1,blueWbg:message.isNewEnergy==0,grayWbgColor:message.isNewEnergy==-1}">{{message.licenseNo}}</span></p>
                            <p class="flexr tr text-red">{{message.stateFlag}}</p>
                        </div>
                        <div class="flexWrap">
                            <p class="flexl"><i class="ion-imgperson"></i>&nbsp;被保人：<span class="text-gray">{{message.insuredName}} </span></p>
                            <!--<p class="flexr tr text-gray"><i class="ion-ios-clock-outline rotate180"></i>&nbsp;{{message.createTime}}</p>-->
                            <p class="flexr tr text-gray"><i class="ion-imgclock"></i>&nbsp;{{message.createTime}}</p>
                        </div>
                        <div class="flexWrap">
                            <p class="flexl"><i class="ion-imgcompany"></i>&nbsp;投保公司：<span class="text-gray">{{message.insuranceCompanyName}} </span></p>
                            <p class="flexr tr text-red" ng-show='!showBtnType(message.opFlag)'>&nbsp;￥{{message.totalAmount||0}}</p>
                            <p class="flexr tr text-gray" ng-show='showBtnType(message.opFlag)'>&nbsp;￥{{message.totalAmount||0}}</p>
                        </div>
                        <div class="flexWrap" ng-show="message.orderTags>=128">
                            <p class="flexl"><i class="ion-courierNumber"></i>&nbsp;快递单号：<span class="text-gray">{{message.shippingCode||'无'}} </span></p>
                        </div>
                    </a>
                    <div class="buttonWrap">
                        <div class="row" ng-show='isOneOrTwo'>
                            <div class="col col-50 tl" ng-show='orderMes'>
                                <a class="button button-light buttonCss button-border " ng-click="toDetails(message.orderTags,message.orderId)">保单详情</a>
                            </div>
                            <div class="col col-50 tr" ng-show='changePolicy'>
                                <a class="button button-light buttonCss button-border" ng-click="toChangePolicy(message.orderId)">修改保单</a>
                            </div>

                            <div class="col col-50 tr" ng-show='addMes'>
                                <a class="button buttonCss button-energized" href='#/BSApp/supplementaryInfo/{{message.orderId}}'>补充资料</a>
                            </div>
                            <div class="col col-50 tl" ng-show='reBid'>
                                <a class="button button-light buttonCss button-border" ng-click="chongXinBaojia(message.orderId)">重新报价</a>
                            </div>
                            <div class="col col-50 tr" ng-show='applyUnderwriting'>
                                <a class="button buttonCss button-energized" ng-click="toUnderwriting(message.orderId)">申请核保</a>
                            </div>

                            <div class="col col-50 tr" ng-show='makeAppointment'>
                                <a class="button buttonCss button-energized" ng-click="toFillInfo(message.orderId)">预约出单</a>
                            </div>
                            <div class="col col-50 tr" ng-show='sureOrder'>
                                <a class="button buttonCss button-energized" ng-click="confirmOrder(message.orderId)">确定收单</a>
                            </div>
                            <div class="col col-50 tr" ng-show='delOrder'>
                                <a class="button buttonCss button-gray" ng-click="showConfirm(message.orderId)">删除订单</a>
                            </div>
                            <div class="col col-50 tr" ng-show='orderPay'>
                                <a class="button buttonCss button-energized" ng-click="toPayOrder(message.orderId)">立即支付</a>
                            </div>
                        </div>
                        <div class="row " ng-show='!isOneOrTwo'>
                            <a class="button button-light buttonCss button-border buttonCss1" ng-click="toDetails(message.orderTags,message.orderId)">保单详情</a>
                        </div>
                    </div>
                </div>
            </ion-item>
        </ion-list>

    </ion-content>

</ion-view>