<ion-view view-title="保单支付">
    <ion-content>
        <ion-list>
            <ion-item>
                <img src="" alt="">
                <span>待支付</span>
            </ion-item>
            <ion-item>
                <span>车牌号</span>
                <span>粤A123456</span>
            </ion-item>
            <ion-item>
                <span>保单号</span>
                <span>010020160222</span>
            </ion-item>
            <ion-item>
                <span>被保人</span>
                <span>刘鑫</span>
            </ion-item>
            <ion-item>
                <span>保险代理专员</span>
                <span>小陈</span>
            </ion-item>
            <ion-item>
                ————————<span>选择费用</span>————————
            </ion-item>
            <ion-item></ion-item>
            <ion-item></ion-item>
        </ion-list>
    </ion-content>
</ion-view>