<ion-view class="title" view-title="拍照示例">
    <ion-content>
        <div style="margin-left:10px">
            <span class="col exceptionCauseTitle" style="font-size:18px;text-align:center">如何拍摄验车照</span>
            <span style="color:#7C7C7C">1、验车须使用高像素手机或数码相机(照片必须清晰)进行拍摄,拍摄内容必须反应当天日期的该车照片,无日期的照片无法通过保险公司后台审核。</span>
            <p>
                <span style="color:#7C7C7C">2、原则上从四个角线拍摄车辆的五张照片。</span>
                <p>
                    <span style="color:#7C7C7C">3、下面就让我们具体介绍一下如何进行验车照的拍摄。</span>
        </div>


        <span class="col exceptionCauseTitle">1.首先要买一张出单当日的报纸，手拿在车身前左、右45度角照相</span>
        <div class="row ">
            <div class="col">
                <div class="imagFrame" ng-style="IMGH">
                    <img src="img/car_pic01.jpg" />
                </div>
            </div>

            <div class="col">
                <div class="imagFrame" ng-style="IMGH">
                    <img src="img/car_pic02.jpg" />
                </div>
            </div>
        </div>

        <span class="col exceptionCauseTitle" style="color:#414141">2.车身后左、右45度角拍照</span>

        <div class="row ">
            <div class="col">
                <div class="imagFrame" ng-style="IMGH">
                    <img src="img/car_pic03.jpg" />
                </div>
            </div>

            <div class="col col-50">
                <div class="imagFrame" ng-style="IMGH">
                    <img src="img/car_pic04.jpg" />
                </div>
            </div>
        </div>


        <span class="col exceptionCauseTitle">3.车架号拍照</span>
        <div class="row ">
            <div class="col">
                <div class="imagFrame" ng-style="IMGH">
                    <img src="img/car_pic05.jpg" />
                </div>
            </div>
        </div>




    </ion-content>
</ion-view>