<ion-view view-title="报价详情" cache-view='false'>

    <ion-content>
        <div class="item item-avatar no-border ibsRow" style="padding:10px 15px;min-height:initial;text-align: right;min-height: 26px;">
            <img ng-src="img/InsuranceLOGO_{{insuranceCompanyId}}.png" style="border-radius:0;max-width:initial;width:initial;top: 6px;max-height: 35px;">
            <div class="isr-stateTags">
                &nbsp;<span ng-show='info.totalAmount' style="color: #e74c3c;background: none;">￥</span>{{info.totalAmount}}
            </div>
        </div>
        <div class="light-bg mainText isr-detailConten">
            <div class="row" style="margin-bottom:0">
                <span class="col col-20">车牌号</span>
                <span class="col  col-33 tl">{{licenseNo}}</span>

                <span class="col col-25">代理专员</span>
                <span class="col tl">{{insureAgentUname}}</span>
            </div>
            <!-- <div class="row">
                <span class="col col-33">车辆型号：</span>
                <span class="col tr">{{carVin}}</span>
            </div> -->
            <!--<div class="row">
                <span class="col col-33">出现次数：</span>
                <span class="col tr">0次</span>
            </div>
            <div class="row">
                <span class="col col-33">折扣系数：</span>
                <span class="col tr">0.8550</span>
            </div>-->
            <!-- <div class="row">
                <span class="col">保险代理专员：</span>
                <span class="col tr">{{insureAgentUname}}</span>
            </div> -->
        </div>
        <div class="overallColor no-border row">
            <div class="col">
                <hr width=100% size=1 color=#9e9fa3>
            </div>
            <div class="col titleText tc">交强险信息</div>
            <div class="col">
                <hr width=100% size=1 color=#9e9fa3>
            </div>
        </div>
        <div class="light-bg isr-morDetail">
            <div class="row ibsRow" style="margin-bottom:0">
                <span class="col col-25">交强险</span>
                <span class="col tl remindColor" style="color:red"><span ng-show='info.forceTotal'>￥</span>{{info.forceTotal}}</span>
                <span class="col col-25">车船税</span>
                <span class="col tl remindColor"><span ng-show='info.taxTotal'>￥</span>{{info.taxTotal}}</span>
            </div>
            <!-- <div class="row ibsRow">
                <span class="col col-33">车船税</span>
                <span class="col tr remindColor"><span ng-show='info.taxTotal'>￥</span>{{info.taxTotal}}</span>
            </div> -->
        </div>
        <div class="overallColor no-border row">
            <div class="col">
                <hr width=100% size=1 color=#9e9fa3>
            </div>
            <div class="col titleText tc">商业险信息</div>
            <div class="col">
                <hr width=100% size=1 color=#9e9fa3>
            </div>
        </div>


        <div class="light-bg isr-morDetail">
            <div class="row">
                <span class="col">商业险</span>
                <span class="col tr remindColor"></span>
                <div class="col tr remindColor" style="text-align:center;">
                    <span><span ng-show='info.businessTotal'>￥</span>{{info.businessTotal}}</span>
                    <!-- <img src="{{showDetailImg}}" style="max-width:initial;width:initial;max-height:20px;vertical-align:middle;margin-left:10px;" ng-click="showOfferDetails()"> -->
                </div>
            </div>

            <!-- <div class="row">
                <span class="col explainTextColor explain">车辆损失险<span ng-show='info.cheSun'>({{info.cheSun}})</span>、第三者险<span ng-show='info.sanZhe'>({{info.sanZhe}})</span>、司机座位险<span ng-show='info.siJi'>({{info.siJi}})</span>、乘客座位险<span ng-show='info.chengKe'>({{info.chengKe}})</span>、划痕险
                <span ng-show='info.huaHen'>({{info.huaHen}})</span>、玻璃破碎险<span ng-show='info.boLi'>({{info.boLi}})</span>、全车盗抢险<span ng-show='info.boLi'>({{info.boLi}})</span>、自燃险<span ng-show='info.ziRan'>({{info.ziRan}})</span>、涉水险<span ng-show='info.sheShui'>({{info.sheShui}})</span>、第三方逃逸险
                <span ng-show='info.hcSanfangteyue'>({{info.hcSanfangteyue}})</span>、指定修理厂险<span ng-show='info.hcXiulichang'>({{info.hcXiulichang}})</span>、不计免赔
                </span>
            </div> -->
        </div>



        <div class="light-bg isr-morDetail" style="background:#F6F8FA;padding-right:10px">

            <div class="row ibsRow" ng-if="info.cheSunFee >0">
                <span class="col col-33">车辆损失险</span>
                <span class="col tr mainTextColor">{{info.cheSun}}</span>
                <span class="col tr mainTextColor"><span ng-show='info.cheSunFee'>￥</span>{{info.cheSunFee || 0}}</span>
            </div>
            <div class="row ibsRow" ng-if="info.sanZheFee >0">
                <span class="col col-33">第三者险</span>
                <span class="col tr mainTextColor">{{info.sanZhe}}</span>
                <span class="col tr mainTextColor"><span ng-show='info.sanZheFee'>￥</span>{{info.sanZheFee || 0}}</span>
            </div>
            <div class="row ibsRow" ng-if="info.siJiFee >0">
                <span class="col col-33">司机座位险</span>
                <span class="col tr mainTextColor">{{info.siJi}}</span>
                <span class="col tr mainTextColor"><span ng-show='info.siJiFee'>￥</span>{{info.siJiFee || 0}}</span>
            </div>
            <div class="row ibsRow" ng-if="info.chengKeFee >0">
                <span class="col col-33">乘客座位险</span>
                <span class="col tr mainTextColor">{{info.chengKe}}</span>
                <span class="col tr mainTextColor"><span ng-show='info.chengKeFee'>￥</span>{{info.chengKeFee || 0}}</span>
            </div>
            <div class="row ibsRow" ng-if="info.boLiFee >0">
                <span class="col col-33">玻璃破碎险</span>
                <span class="col tr mainTextColor">{{info.boLi}}</span>
                <span class="col tr mainTextColor"><span ng-show='info.boLiFee'>￥</span>{{info.boLiFee || 0}}</span>
            </div>
            <div class="row ibsRow" ng-if="info.huaHenFee >0">
                <span class="col col-33">划痕险</span>
                <span class="col tr mainTextColor">{{info.huaHen}}</span>
                <span class="col tr mainTextColor"><span ng-show='info.huaHenFee'>￥</span>{{info.huaHenFee || 0}}</span>
            </div>
            <div class="row ibsRow" ng-if="info.daoQiangFee >0">
                <span class="col col-33">全车盗抢险</span>
                <span class="col tr mainTextColor">{{info.daoQiang}}</span>
                <span class="col tr mainTextColor"><span ng-show='info.daoQiangFee'>￥</span>{{info.daoQiangFee || 0}}</span>
            </div>
            <div class="row ibsRow" ng-if="info.ziRanFee >0">
                <span class="col col-33">自燃险</span>
                <span class="col tr mainTextColor">{{info.ziRan}}</span>
                <span class="col tr mainTextColor"><span ng-show='info.ziRanFee'>￥</span>{{info.ziRanFee || 0}}</span>
            </div>
            <div class="row ibsRow" ng-if="info.sheShuiFee >0">
                <span class="col col-33">涉水险</span>
                <span class="col tr mainTextColor">{{info.sheShui}}</span>
                <span class="col tr mainTextColor"><span ng-show='info.sheShuiFee'>￥</span>{{info.sheShuiFee || 0}}</span>
            </div>
            <div class="row ibsRow" ng-if="info.hcSanfangteyueFee >0">
                <span class="col col-33">第三方逃逸险</span>
                <span class="col tr mainTextColor">{{info.hcSanfangteyue}}</span>
                <span class="col tr mainTextColor"><span ng-show='info.hcSanfangteyueFee'>￥</span>{{info.hcSanfangteyueFee || 0}}</span>
            </div>
            <div class="row ibsRow" ng-if="info.hcXiulichangFee >0">
                <span class="col col-33">指定修理厂险</span>
                <span class="col tr mainTextColor">{{info.hcXiulichang || 0}}</span>
                <span class="col tr mainTextColor"><span ng-show='info.hcXiulichangFee'>￥</span>{{info.hcXiulichangFee || 0}}</span>
            </div>
            <!--<div class="row" style="border-bottom:1px dashed #d7d7d7;margin-bottom:10px;">
                <span class="col col-33">不计免赔</span>
                <span class="col tr mainTextColor"></span>
                <span class="col tr mainTextColor">￥457.97</span>
            </div>-->
            <div class="row" ng-if="info">
                <span class="col explainTextColor explain">第三者不计免赔<span ng-show='info.bujimianSanzheFee'>(￥{{info.bujimianSanzheFee || 0}})</span>、司机座位险不计免赔<span ng-show='info.bujimianSijiFee'>(￥{{info.bujimianSijiFee || 0}})</span>、车辆损失险不计免赔<span ng-show='info.bujimianChesunFee'>(￥{{info.bujimianChesunFee || 0}})</span>、划痕险不计免赔
                <span ng-show='info.bujimianHuahenFee'>(￥{{info.bujimianHuahenFee || 0}})</span>、乘客座位险不计免赔<span ng-show='info.bujimianChengkeFee'>（￥{{info.bujimianChengkeFee || 0}}）</span>、自燃险不计免赔<span ng-show='info.ziRanFee'>(￥{{info.ziRanFee || 0}})</span>、涉水险不计免赔
                <span ng-show='info.bujimianSheshuiFee'>(￥{{info.bujimianSheshuiFee || 0}})</span>
                </span>
            </div>
        </div>
        <div ng-show='iserrorReport' style="padding: 15px;margin:10px 0px;">
            <p class="remindColor">核保失败</p>
            <p class="mainTextColor">{{errorReport}}</p>
        </div>


        <div style="padding:10px;text-align:left;display:inline" ng-if="info">
            <span>发送报价给客户：</span>

            <div style="display:inline" ng-click="sendSMS()">
                <img src="img/messages.png" style="vertical-align:middle;max-height:28px">
                <span>发送短信</span>
            </div>

            <!--<div style="display:inline;margin-left:10px" ng-click="toQuotedPrice()">
                <img src="img/WeChat.png" style="vertical-align:middle;max-height:28px">
                <span>微信分享</span>
            </div>-->
        </div>
    </ion-content>


    <ion-footer-bar align-title="left" ng-show='isShowFooter'>
        <h5>总计：</h5>
        <h5 style="color:red"><span ng-show='info.totalAmount'>￥</span>{{info.totalAmount || 0}}</h5>
        <h5 style="color:red" ng-show='hebaoModel'> ({{hebaoModel}})</h5>
        <h5 class="title"></h5>
        <button class="button button-energized" ng-click="toUploadData(id)">{{btnWord}}</button>
    </ion-footer-bar>
</ion-view>