<ion-view view-title="险种选择">
    <ion-content class="overallColor mainText titleTextColor">
        <div class="light-bg isr-morDetail">
            <div class="row">
                <span class="col">跟进人员：<span class="mainTextColor" >{{agentName}}</span></span>
                <span class="col col-33 no-padding tr">
          <button class="button button-light" style="border-color:#d7d7d7;line-height: normal;min-height: initial;padding:5px;" ng-click="agentModalShow()" >更换</button>
        </span>
            </div>
        </div>
        <div ng-show='isShow'>
            <ion-item class="overallColor no-border row" style="padding: 5px 45px;">
                <div class="col">
                    <hr width=100% size=1 color=#9e9fa3>
                </div>
                <div class="col titleText tc">车辆信息</div>
                <div class="col">
                    <hr width=100% size=1 color=#9e9fa3>
                </div>
            </ion-item>
            <div class="light-bg isr-morDetail">
                <div class="row ibsRow">
                    <span class="rowTitle">车牌号码</span>
                    <span class="col mainTextColor">{{info.licenseNo}}</span>
                </div>
                <div class="row" style="display: none;">
                    <div class="row ibsRow">
                        <span class="rowTitle">车主姓名</span>
                        <span class="col mainTextColor">{{info.carownerName}}</span>
                    </div>
                    <div class="row ibsRow">
                        <span class="rowTitle">证件类型</span>
                        <span class="col mainTextColor">{{info.carownerCardTypeName}}</span>
                    </div>
                    <div class="row ibsRow">
                        <span class="rowTitle">证件号码</span>
                        <span class="col mainTextColor">{{info.carownerCard}}</span>
                    </div>
                    <div class="row ibsRow">
                        <span class="rowTitle">车架编号</span>
                        <span class="col mainTextColor">{{info.carVin}}</span>
                    </div>
                    <div class="row ibsRow">
                        <span class="rowTitle">发动机型号</span>
                        <span class="col mainTextColor">{{info.engineNo}}</span>
                    </div>
                </div>
                <!--<div class="row ibsRow">
                    <span class="rowTitle">品牌型号</span>
                    <span class="col mainTextColor">{{info.modleName}}</span>
                </div>-->
                <div class="row ibsRow">
                    <span class="rowTitle">品牌型号</span>
                    <span class="col mainTextColor caritem" ng-click="chooseCar()" title="{{info.modleName}}">
                         <span style="padding-right: 6%;">{{info.modleName}}</span>
                    </span>
                </div>
                <div class="row ibsRow">
                    <span class="rowTitle">注册日期</span>
                    <span class="col mainTextColor">{{info.registerDate}}</span>
                </div>
                <div class="row ibsRow">
                    <span class="rowTitle">投保公司</span>
                    <span class="col mainTextColor">{{info.companyName||'暂无'}}</span>
                </div>
            </div>
        </div>
        <!--<div style="height:15px;"></div>
        <div class="light-bg isr-morDetail">
            <div class="row">
                <span class="col">投保人类型</span>
                <span class="col col-33 no-padding tr">
                <select ng-model="holderPartytypeId" ng-init="holderPartytypeId = '1'" ng-change='changePartytype(holderPartytypeId)' style="padding: 5px;">
                    <option ng-repeat="item in holderPartytypes"  value="{{item.holderPartytype}}">{{item.holderPartyTypeName}}</option>
                </select>
            </div>
        </div>
        -->

        <!-- <div style="height:15px;"></div> -->

        <!--  <div class="light-bg isr-morDetail">
            <div class="row ibsRow">
                <span class="col">
                   被保人信息
                </span>
                <span class="col col-33 no-padding tr">
                    <button class="button button-positive button-clear" style="line-height: normal;min-height: initial;padding:5px;" ng-click="toggleDown()" toggle-class="hide">{{downUp}}</button>
                </span>
            </div>
            <div ng-show='menuState.show'>
                <div class="row ibsRow">
                    <span class="rowTitle">被保人姓名</span>
                    <input class="col mainTextColor inputCss" ng-model='info.insuredName' placeholder="请输入被保人姓名" />
                </div>
                <div ng-show="isShow">
                    <div class="row ibsRow">
                        <span class="rowTitle">证件类型</span>
                        <span class="col mainTextColor">
                      <select class="selectType" style="width: 100%" ng-model="selectCardName" ng-change='changeCardName(selectCardName)' ng-options="x.cardTypeId as x.cardTypeName for x in cardType"></select>
                      </span>
                    </div>
                    <div class="row ibsRow">
                        <span class="rowTitle">证件号码</span>
                        <input class="col mainTextColor inputCss" ng-model='info.insuredIdCard' type='tel' placeholder="请输入证件号码" />
                    </div>
                    <div class="row ibsRow">
                        <span class="rowTitle">手机号码</span>
                        <input class="col mainTextColor inputCss" ng-model='info.insuredMobile' type='tel' placeholder="请输入手机号码" />
                    </div>
                </div>
            </div>
        </div> -->

        <!--  <div ng-show='menuState.show'>
                <div class="row ibsRow">
                    <span class="rowTitle">被保人姓名</span>
                    <input class="col mainTextColor inputCss" ng-model='info.insuredName' placeholder="请输入被保人姓名" />
                </div>
                <div ng-show="isShow">
                    <div class="row ibsRow">
                        <span class="rowTitle">证件类型</span>
                        <span class="col mainTextColor">
                      <select class="selectType" style="width: 100%" ng-model="selectCardName" ng-change='changeCardName(selectCardName)' ng-options="x.cardTypeId as x.cardTypeName for x in cardType"></select>
                      </span>
                    </div>
                    <div class="row ibsRow">
                        <span class="rowTitle">证件号码</span>
                        <input class="col mainTextColor inputCss" ng-model='info.insuredIdCard' type='tel' placeholder="请输入证件号码" />
                    </div>
                    <div class="row ibsRow">
                        <span class="rowTitle">手机号码</span>
                        <input class="col mainTextColor inputCss" ng-model='info.insuredMobile' type='tel' placeholder="请输入手机号码" />
                    </div>
                </div>
            </div> -->
        <div class="light-bg isr-morDetail" ng-show="!recordBool">
            <div class="row ibsRow">
                <span class="rowTitle">投保人姓名</span>
                <input class="col mainTextColor inputCss" ng-model='info.holderName' placeholder="请输入投保人姓名" />
            </div>
        </div>
        <div class="light-bg isr-morDetail" ng-show="recordBool">
            <div class="row ibsRow" style="padding-bottom: 0px">
                <span class="rowTitle">投保人信息</span>
                <span class="col col-45">
                   <span class="overallColor changeRadioCss radiocss2">
                      <ion-radio name="holderMes"  value="1" ng-model="data.infoHolderType">
                     与上一年信息一致</ion-radio>
                  </span>
                </span>
                <span class="col col-30">
                   <span class="overallColor changeRadioCss radiocss2" ng-click="showMessage()">
                      <ion-radio name="holderMes"  value="2" ng-model="data.infoHolderType">不一致
                      </ion-radio>
                   </span>
                </span>
            </div>
            <div ng-show="data.infoHolderType == 1 ">
                <div class="row ibsRow" style="padding-top: 0px">
                    <span class="rowTitle">投保人姓名</span>
                    <input class="col mainTextColor inputCss" ng-model='info.holderName' placeholder="请输入投保人姓名" />
                </div>
            </div>
            <div class="hide">
                <div ng-show="isShow">
                    <div class="row ibsRow">
                        <span class="rowTitle">证件类型</span>
                        <span class="col mainTextColor">
                      <select class="selectType" style="width: 100%" ng-model="info.holderIdCardType" ng-options="x.cardTypeId as x.cardTypeName for x in cardType"></select>
                      </span>
                    </div>
                    <div class="row ibsRow">
                        <span class="rowTitle">证件号码</span>
                        <input class="col mainTextColor inputCss" ng-model='info.holderIdCard' type='tel' placeholder="请输入证件号码" />
                    </div>
                    <div class="row ibsRow">
                        <span class="rowTitle">手机号码</span>
                        <input class="col mainTextColor inputCss" ng-model='info.holderMobile' type='tel' placeholder="请输入手机号码" />
                    </div>
                </div>
            </div>

            <div ng-show="data.infoHolderType == 2 ">
                <div class="row ibsRow" style="padding-top: 0px">
                    <span class="rowTitle">投保人姓名</span>
                    <input class="col mainTextColor inputCss" ng-model='info.newholderName' placeholder="请输入投保人姓名" />
                </div>
                <div ng-show="isShow">
                    <div class="row ibsRow">
                        <span class="rowTitle">证件类型</span>
                        <span class="col mainTextColor">
                      <select class="selectType" style="width: 100%" ng-model="newholderCardName" ng-options="x.cardTypeId as x.cardTypeName for x in cardType"></select>
                      </span>
                    </div>
                    <div class="row ibsRow">
                        <span class="rowTitle">证件号码</span>
                        <input class="col mainTextColor inputCss" ng-model='info.newholderIdCard' type='tel' placeholder="请输入证件号码" />
                    </div>
                    <div class="row ibsRow">
                        <span class="rowTitle">手机号码</span>
                        <input class="col mainTextColor inputCss" ng-model='info.newholderMobile' type='tel' placeholder="请输入手机号码" />
                    </div>
                </div>
            </div>
        </div>


        <div class="light-bg isr-morDetail" ng-show="!recordBool">
            <div class="row ibsRow">
                <span class="rowTitle">被保人姓名</span>
                <input class="col mainTextColor inputCss" ng-model='info.insuredName' placeholder="请输入被保人姓名" />
            </div>
        </div>
        <div class="light-bg isr-morDetail" ng-show="recordBool">
            <div class="row ibsRow" style="padding-bottom: 0px">
                <span class="rowTitle">被保人信息</span>
                <span class="col col-45">
                   <span class="overallColor changeRadioCss radiocss2">
                      <ion-radio name="mesShow"  value="1"  ng-model="data.infoType">
                     与上一年信息一致</ion-radio>
                  </span>
                </span>
                <span class="col col-30">
                   <span class="overallColor changeRadioCss radiocss2" ng-click="showMessage()">
                      <ion-radio name="mesShow"  value="2"  ng-model="data.infoType">不一致
                      </ion-radio>
                   </span>
                </span>
            </div>
            <div ng-show="data.infoType ==1 ">
                <div class="row ibsRow" style="padding-top: 0px">
                    <span class="rowTitle">被保人姓名</span>
                    <input class="col mainTextColor inputCss" ng-model='info.insuredName' placeholder="请输入被保人姓名" />
                </div>
            </div>
            <div class="hide">
                <div ng-show="isShow">
                    <div class="row ibsRow">
                        <span class="rowTitle">证件类型</span>
                        <span class="col mainTextColor">
                      <select class="selectType" style="width: 100%" ng-model="info.insuredIdCardType" ng-options="x.cardTypeId as x.cardTypeName for x in cardType"></select>
                      </span>
                    </div>
                    <div class="row ibsRow">
                        <span class="rowTitle">证件号码</span>
                        <input class="col mainTextColor inputCss" ng-model='info.insuredIdCard' type='tel' placeholder="请输入证件号码" />
                    </div>
                    <div class="row ibsRow">
                        <span class="rowTitle">手机号码</span>
                        <input class="col mainTextColor inputCss" ng-model='info.insuredMobile' type='tel' placeholder="请输入手机号码" />
                    </div>
                </div>
            </div>

            <div ng-show="data.infoType ==2 ">
                <div class="row ibsRow" style="padding-top: 0px">
                    <span class="rowTitle">被保人姓名</span>
                    <input class="col mainTextColor inputCss" ng-model='info.newinsuredName' placeholder="请输入被保人姓名" />
                </div>
                <div ng-show="isShow">
                    <div class="row ibsRow">
                        <span class="rowTitle">证件类型</span>
                        <span class="col mainTextColor">
                      <select class="selectType" style="width: 100%" ng-model="newselectCardName" ng-options="x.cardTypeId as x.cardTypeName for x in cardType"></select>
                      </span>
                    </div>
                    <div class="row ibsRow">
                        <span class="rowTitle">证件号码</span>
                        <input class="col mainTextColor inputCss" ng-model='info.newinsuredIdCard' type='tel' placeholder="请输入证件号码" />
                    </div>
                    <div class="row ibsRow">
                        <span class="rowTitle">手机号码</span>
                        <input class="col mainTextColor inputCss" ng-model='info.newinsuredMobile' type='tel' placeholder="请输入手机号码" />
                    </div>
                </div>
            </div>
        </div>

        <div ng-show='isShow'>
            <ion-item class="overallColor no-border row" style="padding: 5px 45px;">
                <div class="col">
                    <hr width=100% size=1 color=#9e9fa3>
                </div>
                <div class="col titleText tc">保险日期</div>
                <div class="col">
                    <hr width=100% size=1 color=#9e9fa3>
                </div>
            </ion-item>
            <div class="light-bg isr-morDetail">
                <div class="row ibsRow">
                    <span class="col">交强险起保时间</span>
                    <span class="col  no-padding tr">
                        <span class="dataCss" ng-click="openDatePickerOne()">
                            <span>{{info.nextForceStartdate}}</span>
                    </span>
                    </span>
                </div>
                <div class="row">
                    <span class="col">商业险起保时间</span>
                    <span class="col  no-padding tr">
                        <span class="dataCss" ng-click="openDatePickerTwo()">
                            <span>{{info.nextBusinessStartdate}}</span>
                    </span>
                    </span>
                </div>
            </div>
        </div>
        <div>
            <ion-item class="overallColor no-border row" style="padding: 5px 45px;">
                <div class="col">
                    <hr width=100% size=1 color=#9e9fa3>
                </div>
                <div class="col titleText tc">交强险</div>
                <div class="col">
                    <hr width=100% size=1 color=#9e9fa3>
                </div>
            </ion-item>
            <div class="light-bg isr-morDetail">
                <div class="row">
                    <span class="col">
                        <ion-checkbox class="mainText no-border selectCB"  ng-model="info.forceTag" ng-disabled='info.isForceRenewalDate==0'>
                            <div>                  
                                <div style="padding-bottom:5px;">交强险/车船险</div>
                                <div class="explainTextColor explain">国家强制投保，未投保无法驱动车并处双倍罚款 </div>
                            </div>
                        </ion-checkbox>
                    </span>
                </div>
            </div>
            <p class="text-red warning" ng-if="info.isForceRenewalDate==0">您的交强险（未到投保期），暂不能报价缴费。</p>
            <ion-item class="overallColor no-border row" style="padding: 5px 45px;">
                <div class="col">
                    <hr width=100% size=1 color=#9e9fa3>
                </div>
                <div class="col titleText tc">商业险</div>
                <div class="col">
                    <hr width=100% size=1 color=#9e9fa3>
                </div>
            </ion-item>
            <div>
                <div class="light-bg isr-morDetail">
                    <div class="row ibsRow">
                        <span class="col col-33">
                            <ion-checkbox class="titleTextColor mainText no-border selectCB"  ng-disabled='info.isBusinessRenewalDate==0'  ng-model="info.cheSunTag" ng-change='changeSelect(info,"bujimianChesunTag","cheSunTag")'>
                            车辆损失险
                            </ion-checkbox>
                        </span>
                        <span class="col col-33 no-padding tc">
                    
                        </span>
                        <span class="col col-33" ng-if='info.isBusinessRenewalDate>0'>
                            <ion-checkbox class="mainText no-border selectCB-R" ng-disabled='!info.cheSunTag' ng-model="info.bujimianChesunTag" >
                            不计免赔
                            </ion-checkbox>
                        </span>
                        <span class="col col-33" ng-if='info.isBusinessRenewalDate==0'>
                            <ion-checkbox class="mainText no-border selectCB-R" ng-disabled='info.isBusinessRenewalDate==0' ng-model="info.bujimianChesunTag" >
                            不计免赔
                            </ion-checkbox>
                        </span>
                    </div>
                    <div class="row ibsRow">
                        <span class="col col-33">
                            <ion-checkbox class="titleTextColor mainText no-border selectCB" ng-model="info.sanZheTag"  ng-disabled='info.isBusinessRenewalDate==0' ng-change='changeSelect(info,"bujimianSanzheTag","sanZheTag","sanZheBaoE")'>
                            第三者险
                            </ion-checkbox>
                        </span>
                        <span class="col col-33 no-padding tc">
                            <select ng-model="info.sanZheBaoE" class="selectType" ng-disabled='info.isBusinessRenewalDate==0' ng-change='changeUnCheck("sanZheTag","bujimianSanzheTag","sanZheBaoE")' ng-options="x.enumValue as x.enumKey for x in sanZheVal"></select>
                        </span>
                        <span class="col col-33" ng-if='info.isBusinessRenewalDate>0'>
                            <ion-checkbox class="mainText no-border selectCB-R" ng-disabled='!info.sanZheTag' ng-model="info.bujimianSanzheTag">
                            不计免赔
                            </ion-checkbox>
                        </span>
                        <span class="col col-33" ng-if='info.isBusinessRenewalDate==0'>
                            <ion-checkbox class="mainText no-border selectCB-R" ng-disabled='info.isBusinessRenewalDate==0' ng-model="info.bujimianSanzheTag">
                            不计免赔
                            </ion-checkbox>
                        </span>
                    </div>
                    <div class="row ibsRow">
                        <span class="col col-33">
                            <ion-checkbox class="titleTextColor mainText no-border selectCB" ng-model="info.siJiTag"  ng-disabled='info.isBusinessRenewalDate==0' ng-change='changeSelect(info,"bujimianSijiTag","siJiTag","siJiBaoE")'>
                            司机座位险
                            </ion-checkbox>
                        </span>
                        <span class="col col-33 no-padding tc">
                            <select ng-model="info.siJiBaoE" class="selectType" ng-disabled='info.isBusinessRenewalDate==0' ng-change='changeUnCheck("siJiTag","bujimianSijiTag","siJiBaoE")' ng-options="x.enumValue as x.enumKey for x in siJiVal"></select>
                        </span>
                        <span class="col col-33" ng-if='info.isBusinessRenewalDate>0'>
                            <ion-checkbox class="mainText no-border selectCB-R " ng-disabled='!info.siJiTag' ng-model="info.bujimianSijiTag" >
                            不计免赔
                            </ion-checkbox>
                        </span>
                        <span class="col col-33" ng-if='info.isBusinessRenewalDate==0'>
                            <ion-checkbox class="mainText no-border selectCB-R " ng-disabled='info.isBusinessRenewalDate==0' ng-model="info.bujimianSijiTag" >
                            不计免赔
                            </ion-checkbox>
                        </span>
                    </div>
                    <div class="row" style="margin-bottom:10px;">
                        <span class="col col-33">
                            <ion-checkbox id="seatCheck" class="titleTextColor mainText no-border selectCB" ng-model="info.chengKeTag"  ng-disabled='info.isBusinessRenewalDate==0' ng-change='changeSelect0(info,"bujimianChengkeTag","chengKeTag","chengKeBaoE")'>
                            乘客座位险
                            </ion-checkbox>
                        </span>
                        <span class="col col-33 no-padding tc">
                            <select ng-model="info.chengKeBaoE" class="selectType" ng-disabled='info.isBusinessRenewalDate==0' ng-change='changeUnCheck("chengKeTag","bujimianChengkeTag","chengKeBaoE")'  ng-options="x.enumValue as x.enumKey for x in chengKeVal"></select>
                        </span>
                        <span class="col col-33" ng-if='info.isBusinessRenewalDate>0'>
                            <ion-checkbox class="mainText no-border selectCB-R "  ng-disabled='!info.chengKeTag' ng-model="info.bujimianChengkeTag" >
                                不计免赔
                            </ion-checkbox>
                        </span>
                        <span class="col col-33" ng-if='info.isBusinessRenewalDate==0'>
                            <ion-checkbox class="mainText no-border selectCB-R "  ng-disabled='info.isBusinessRenewalDate==0' ng-model="info.bujimianChengkeTag" >
                                不计免赔
                            </ion-checkbox>
                        </span>
                    </div>
                    <div class="row ibsRow">
                        <span class="col col-33">
                            <span style="display: inline-block;width:20px;"></span>车辆座位数
                        </span>
                        <span class="col col-33 no-padding tc">
                             <input type="number" placeholder="" ng-model='info.seatCount' ng-disabled='info.isBusinessRenewalDate==0' style="display: inline-block;text-align:center;border-bottom: 1px solid #d7d7d7;width:50%;"/>座
                        </span>
                        <span class="col col-33">
                        
                        </span>
                    </div>
                    <div class="row ibsRow">
                        <span class="col col-33">
                            <ion-checkbox class="titleTextColor mainText no-border selectCB" ng-disabled='info.isBusinessRenewalDate==0' ng-model="info.daoQiangTag" ng-change='changeSelect(info,"bujimianDaoqiangTag","daoQiangTag")'>
                            盗抢险
                            </ion-checkbox>
                        </span>
                        <span class="col col-33 no-padding tc">
                    
                        </span>
                        <span class="col col-33" ng-if='info.isBusinessRenewalDate>0'>
                            <ion-checkbox class="mainText no-border selectCB-R " ng-model="info.bujimianDaoqiangTag" ng-disabled='!info.daoQiangTag'>
                            不计免赔
                            </ion-checkbox>
                        </span>
                        <span class="col col-33" ng-if='info.isBusinessRenewalDate==0'>
                            <ion-checkbox class="mainText no-border selectCB-R " ng-model="info.bujimianDaoqiangTag" ng-disabled='info.isBusinessRenewalDate==0'>
                            不计免赔
                            </ion-checkbox>
                        </span>
                    </div>
                </div>

                <ion-item class="overallColor no-border row" style="padding: 5px 45px;">
                    <div class="col">
                        <hr width=100% size=1 color=#9e9fa3>
                    </div>
                    <div class="col titleText tc">附加险</div>
                    <div class="col">
                        <hr width=100% size=1 color=#9e9fa3>
                    </div>
                </ion-item>
                <div class="light-bg isr-morDetail">
                    <div class="row ibsRow">
                        <span class="col col-33">
                    <ion-checkbox class="titleTextColor mainText no-border selectCB"  ng-disabled='info.isBusinessRenewalDate==0 ' ng-model="info.boLiTag"  ng-change='changeSelect(info,"","boLiTag","boLiBaoE")'>
                        玻璃破碎险
                        </ion-checkbox>
                    </span>
                        <span class="col col-33 no-padding tc">
                        <select ng-model="info.boLiBaoE" class="selectType"  ng-disabled='info.isBusinessRenewalDate==0 ' ng-change='changeUnCheck("boLiTag","","boLiBaoE")' ng-options="x.enumValue as x.enumKey for x in boLiVal"></select>
                    </span>
                        <span class="col col-33">
                    
                    </span>
                    </div>
                    <div class="row ibsRow">
                        <span class="col col-33">
                            <ion-checkbox class="titleTextColor mainText no-border selectCB" ng-model="info.huaHenTag"  ng-disabled='info.isBusinessRenewalDate==0 ' ng-change='changeSelect(info,"bujimianHuahenTag","huaHenTag","huahenBaoE")'>
                            划痕险
                            </ion-checkbox>
                        </span>
                        <span class="col col-33 no-padding tc">
                            <select ng-model="info.huahenBaoE" class="selectType" ng-disabled='info.isBusinessRenewalDate==0 ' ng-change='changeUnCheck("huaHenTag","bujimianHuahenTag","huahenBaoE")' ng-options="x.enumValue as x.enumKey for x in huaHenVal"></select>
                        </span>
                        <span class="col col-33" ng-if='info.isBusinessRenewalDate>0'>
                            <ion-checkbox class="mainText no-border selectCB-R " ng-model="info.bujimianHuahenTag"  ng-disabled='!info.huaHenTag'>
                            不计免赔
                            </ion-checkbox>
                        </span>
                        <span class="col col-33" ng-if='info.isBusinessRenewalDate==0'>
                            <ion-checkbox class="mainText no-border selectCB-R " ng-model="info.bujimianHuahenTag"  ng-disabled='info.isBusinessRenewalDate==0 '>
                            不计免赔
                            </ion-checkbox>
                        </span>
                    </div>
                    <!--<div class="row" style="border-bottom:1px solid #d7d7d7;margin-bottom:10px;">
                            <span class="col col-33">
                                <ion-checkbox class="titleTextColor mainText no-border selectCB" ng-model="info.hcJingshensunshi" ng-change='changeSelect(info,"bujimianJingshensunshi","hcJingshensunshi")' >
                            精神损失险
                                </ion-checkbox>
                            
                        </span>
                            <span class="col col-33 no-padding tc">
                            
                            </span>
                            <span class="col col-33">
                                <ion-checkbox class="mainText no-border selectCB-R " ng-model="info.bujimianJingshensunshi" ng-disabled='!info.hcJingshensunshi'>
                                不计免赔
                                </ion-checkbox>
                                
                            </span>
                        </div>-->
                    <div class="row ibsRow">
                        <span class="col col-33">
                        <ion-checkbox class="mainText no-border selectCB" ng-model="info.ziRanTag" ng-disabled='info.isBusinessRenewalDate==0 ' ng-change='changeSelect(info,"bujimianZiranTag","ziRanTag")'>
                        自燃险
                        </ion-checkbox>
                    </span>
                        <span class="col col-33 no-padding tc">
                    
                    </span>
                        <span class="col col-33" ng-if='info.isBusinessRenewalDate>0'>
                        <ion-checkbox class="mainText no-border selectCB-R " ng-model="info.bujimianZiranTag" ng-disabled='!info.ziRanTag'>
                        不计免赔
                        </ion-checkbox>
                    </span>
                        <span class="col col-33" ng-if='info.isBusinessRenewalDate==0'>
                        <ion-checkbox class="mainText no-border selectCB-R " ng-model="info.bujimianZiranTag" ng-disabled='info.isBusinessRenewalDate==0 '>
                        不计免赔
                        </ion-checkbox>
                    </span>
                    </div>
                    <div class="row ibsRow">
                        <span class="col col-33">
                        <ion-checkbox class="mainText no-border selectCB"  ng-disabled='info.isBusinessRenewalDate==0 ' ng-model="info.sheShuiTag"  ng-change='changeSelect(info,"bujimianSheshuiTag","sheShuiTag")'>
                        涉水险
                        </ion-checkbox>
                    </span>
                        <span class="col col-33 no-padding tc">
                    
                    </span>
                        <span class="col col-33" ng-if='info.isBusinessRenewalDate>0'>
                            <ion-checkbox class="mainText no-border selectCB-R " ng-model="info.bujimianSheshuiTag" ng-disabled='!info.sheShuiTag'>
                            不计免赔
                            </ion-checkbox>
                    </span>
                        <span class="col col-33" ng-if='info.isBusinessRenewalDate==0'>
                            <ion-checkbox class="mainText no-border selectCB-R " ng-model="info.bujimianSheshuiTag" ng-disabled='info.isBusinessRenewalDate==0 '>
                            不计免赔
                            </ion-checkbox>
                    </span>
                    </div>
                    <div class="row ibsRow">
                        <span class="col col-33">
                        <ion-checkbox class="mainText no-border selectCB" ng-model="info.hcSanfangteyueTag"  ng-disabled='info.isBusinessRenewalDate==0 '>
                        第三方逃逸险
                        </ion-checkbox>
                    </span>
                        <span class="col col-33 no-padding tc">
                        
                    </span>
                        <span class="col col-33">
                        
                    </span>
                    </div>
                    <div class="row ibsRow">
                        <span class="col col-33">
                            <ion-checkbox class="mainText no-border selectCB" ng-model="info.hcXiulichangTypeTag"  ng-disabled='info.isBusinessRenewalDate==0 ' ng-change='changeSelect1(info,"hcXiulichangTag","hcXiulichangTypeTag","hcXiuLiCanBaoE","hcXiulichangBaoE")'>
                            指定修理厂险
                            </ion-checkbox>
                        </span>
                        <span class="col col-33 no-padding tc">
                            <select ng-model="info.hcXiuLiCanBaoE" class="selectType"  ng-disabled='info.isBusinessRenewalDate==0 ' ng-change='changeCheck()' ng-options="x.enumValue as x.enumKey for x in xiuLiChangVal"></select>
                        </span>
                        <span class="col col-33 no-padding tr" ng-show='info.hcXiuLiCanBaoE==1'>
                        <select ng-model="info.hcXiulichangBaoE" class="selectType" ng-disabled='info.isBusinessRenewalDate==0 ' ng-options="x.enumValue as x.enumKey for x in xiuLiChangGuochan"></select>
                        </span>
                        <span class="col col-33 no-padding tr" ng-show='info.hcXiuLiCanBaoE==2'>
                        <select ng-model="info.hcXiulichangBaoE" class="selectType"  ng-disabled='info.isBusinessRenewalDate==0 ' ng-options="x.enumValue as x.enumKey for x in xiuLiChangJinkou"></select>
                        </span>

                    </div>
                </div>
            </div>
        </div>
        <div style="width: 92%;margin: 0 auto;">
            <div>用户备注</div>
            <textarea name="note" rows="4" class="noteText" ng-model="info.memo" placeholder="请输入你要备注的消息!"></textarea>
        </div>
        <p class="text-red warning" ng-if="info.isBusinessRenewalDate==0">您的商业险（未到投保期），暂不能报价缴费。</p>
        <div class="row no-padding" style="margin:20px 0;" ng-if='isShow'>
            <div class="col tc" ng-show='!isRenewalDate'>
                <div class="button titleText button-energized button-small" style="width:90%;line-height: 35px;" ng-click="nextIST()">
                    下一步
                </div>
            </div>
            <div ng-show='isRenewalDate' class="renewCss" style="width:100%;">

                <!--<p>您的车险到期时间为{{info.forceExpireDate}}，暂不能报价缴费。</p>-->
                <div class="button titleText button-energized button-small" style="width:90%;line-height: 35px;margin-left:5%;" ng-click="goHome()">
                    返回首页
                </div>
            </div>
        </div>
        <ion-item class="overallColor no-border" style="padding: 25px 35px 20px 35px;" ng-if='!isShow'>
            <button class="button button-energized titleText" style="line-height: normal;min-height: initial;height:40px;width:100%;" ng-click="manualCheck()">人工核保</button>
        </ion-item>
    </ion-content>
</ion-view>