<ion-view view-title="投保公司选择" cache-view="false">
    <ion-content class="overallColor titleText titleTextColor">
        <div class="light-bg isr-morDetail">
            <div class="row">
                <span class="col tc">请选择保险公司报价</span>
                </span>
            </div>
        </div>

        <div style="height:15px;"></div>

        <div class="light-bg" style="padding:10px 15px;">
            <div class="row no-padding changeCompany row-wrap">
                <!--<div class="col col-50 no-padding">
                    <ion-radio class="mainText companyCB" ng-repeat='x in companyList' ng-model="cSelect" ng-change="" style="width:90%;">
                        <img ng-src="img/InsuranceLOGO_{{x.companyId}}.png">
                    </ion-radio>
                </div>-->

                <!--<div style="padding:10px;"></div>-->
                <!-- <div class="col col-50 no-padding">
                    <ion-checkbox class="mainText companyCB" ng-repeat='x in companyList' ng-checked='x.companyId==4' ng-model="cSelect" ng-change="" ng-click="isCompany(x.companyId,$event)">
                        <img ng-src="img/InsuranceLOGO_{{x.companyId}}-{{x.companyCatgory}}.png">
                    </ion-checkbox>
                </div> -->

                <div class="col col-50 no-padding changeRadioCss2" ng-repeat='x in companyList'>
                    <ion-radio style="margin: 3%" class="mainText companyCB" value="{{x.companyCatgory}}" ng-model="companySelect" ng-click="isCompany(x.companyId,x.companyCatgory)">
                        <img ng-src="img/InsuranceLOGO_{{x.companyId}}-{{x.companyCatgory}}.png">
                    </ion-radio>
                </div>
            </div>
        </div>

        <ion-item class="overallColor no-border" style="padding: 25px 35px 20px 35px;">
            <button class="button button-energized titleText" style="line-height: normal;min-height: initial;height:40px;width:100%;" ng-click="toPlccOfferDetails()">下一步</button>
        </ion-item>
    </ion-content>
</ion-view>