<ion-view animation="slide-left-right" style="background-color:#e6e6e6;">
    <ion-nav-title>
        <h4 class="title text-white">车型列表</h4>
    </ion-nav-title>
    <ion-nav-buttons side="right">
        <button class="button button-energized" style="font-size: 15px;" ng-click="selectModel()">确定</button>
    </ion-nav-buttons>
    <ion-content>
        <div style="background-color:#fff;">
            <div class="ibsRow">
                <div class="overallColor changeRadioCss radiocss2">
                    <div class="textflow" style="padding: 8px 15px;">
                        <ion-radio radio-color="balanced" ng-repeat="item in modelList" ng-model="data.autoMoldcode" ng-value="item.VehicleNo">
                            {{item.VehicleName}}/{{item.VehicleAlias}}/{{item.VehicleExhaust}}/{{item.VehicleSeat}}/{{item.PurchasePrice}}/{{item.VehicleYear}}
                        </ion-radio>
                    </div>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>