<ion-view class="title" view-title="补充资料">

    <ion-nav-buttons side="right">
        <div class="buttons">
            <button class="button button-energized titleText" ng-click="completeMessage()" ng-disabled="isSubmit">提交</button>
        </div>
    </ion-nav-buttons>

    <ion-content class="overallColor mainText titleTextColor">
        <!-- <div style="background:#fff;text-align:center;padding:5px;">
            <h5 style="color:red">请提供营业执照/身份证 照片，提供完整行驶证照片</h5>
        </div> -->
        <ion-item class="overallColor no-border row" style="padding: 5px 45px;">
            <div class="col">
                <hr width=100% size=1 color=#9e9fa3>
            </div>
            <div class="col titleText tc">证件上传</div>
            <div class="col">
                <hr width=100% size=1 color=#9e9fa3>
            </div>
        </ion-item>
        <div class="light-bg isr-morDetail">
            <div class="row ibsRow" style="padding-bottom: 0px">
                <span class="rowTitle" style="margin-top:5px;">报价类型</span>
                <div class="col col-20">
                    <span class="overallColor changeRadioCss radiocss2">
                            <ion-radio name="quoteType"  value="1"  ng-model="data.quoteType">个人</ion-radio>
                          </span>
                </div>
                <div class="col col-20">
                    <span class="overallColor changeRadioCss radiocss2">
                        <ion-radio name="quoteType" value="2" ng-model="data.quoteType">单位</ion-radio>
                      </span>
                </div>
            </div>
        </div>
        <div class="light-bg isr-morDetail" ng-if="data.quoteType ==1">
            <div class="row">
                <span class="col">投保人身份证正面照</span>
            </div>
            <div class="row">
                <div class="col col-33">
                    <div class="imagFrame" ng-style="IMGH">
                        <img src="img/id.png" />
                    </div>
                </div>
                <div class="col col-33" ng-repeat="item in insuredIdCardPhoto">
                    <div class="imagFrame" ng-style="IMGH" ng-click="showCamera(item,insuredIdCardPhoto)">
                        <img ng-src="{{item.imageSrc}}" />
                    </div>
                </div>
                <div class="col  explainTextColor explain">
                    请上传证件照片，图片要求在手机拍照框内，不反光，并清晰易辨认。
                </div>
            </div>
        </div>
        <div class="light-bg isr-morDetail" ng-if="data.quoteType ==2">
            <div class="row">
                <span class="col">加盖公章的单位委托书与企业组织机构代码及营业执照</span>
            </div>
            <div class="row">
                <div class="col col-33" ng-repeat="item in businessLicense">
                    <div class="imagFrame" ng-style="IMGH" ng-click="showCamera(item,businessLicense)">
                        <img ng-src="{{item.imageSrc}}" />
                    </div>
                </div>
                <div class="col explainTextColor explain">
                    请将委托书、企业组织机构代码、营业执照合并拍摄，图片要求在手机拍照框内，不反光，并清晰易辨认。
                </div>
            </div>
        </div>
        <div style="height:15px;"></div>

        <div class="light-bg isr-morDetail">
            <div class="row">
                <span class="col">机动车行驶证</span>
            </div>
            <div class="row ">
                <div class="col col-33">
                    <div class="imagFrame" ng-style="IMGH">
                        <img src="img/driver.png" />
                    </div>
                </div>

                <div class="col col-33" ng-repeat="item in drivingLicensesPhoto">
                    <div class="imagFrame" ng-style="IMGH" ng-click="showCamera(item,drivingLicensesPhoto)">
                        <img ng-src="{{item.imageSrc}}" />
                    </div>
                </div>
                <div class="col col-33 explainTextColor explain">
                    请上传证件照片，图片要求在手机拍照框内，不反光，并清晰易辨认。
                </div>
            </div>
        </div>

        <div style="height:15px;"></div>
        <div class="light-bg isr-morDetail" ng-if="data.quoteType ==1">
            <div class="row">
                <span class="col">核保所需照片</span>
            </div>
            <div class="row">
                <div class="col col-33" ng-repeat="item in underwritingPhotos">
                    <div class="imagFrame" ng-style="IMGH" ng-click="showCamera(item,underwritingPhotos)">
                        <img ng-src="{{item.imageSrc}}" class="imagFrame1" />
                    </div>
                </div>
            </div>
            <div class="row">
                <span class="col explainTextColor explain">1.业务经办人的(业务员或代理人)的执业证照片 2.投保人和业务经办人的合影 3.投保人签署投保单、免责的照片</span>
            </div>
        </div>

        <div class="light-bg isr-morDetail" ng-if="data.quoteType ==2">
            <div class="row">
                <span class="col">代办人签署投保单、投保提示书、免责任说明书照片</span>
            </div>
            <div class="row">
                <div class="col col-33" ng-repeat="item in agentSignPhoto">
                    <div class="imagFrame" ng-style="IMGH" ng-click="showCamera(item,agentSignPhoto)">
                        <img ng-src="{{item.imageSrc}}" />
                    </div>
                </div>
                <div class="col  explainTextColor explain">
                    请上传证件照片，图片要求在手机拍照框内，不反光，并清晰易辨认。
                </div>
            </div>
        </div>

        <ion-item class="overallColor no-border" style="text-align:center" ng-if="data.quoteType ==1">
            <div class="titleText explainTextColor" ng-click="showDetail()"><u style="color:#2a398e">{{showDetailBT}}</u></div>
        </ion-item>

        <!--默认隐藏-->
        <div ng-if="isShowDetail">

            <ion-item class="overallColor no-border row" style="padding: 5px 45px;">
                <div class="col">
                    <hr width=100% size=1 color=#9e9fa3>
                </div>
                <div class="col titleText tc">上传验车照</div>
                <div class="col">
                    <hr width=100% size=1 color=#9e9fa3>
                </div>
            </ion-item>

            <div class="light-bg isr-morDetail">
                <div class="row flexWrap" style="padding: 13px 15px;">
                    <span class="flexl">
                        45度角车身照<span style="color:red;">4</span>张， 车架号
                    <span style="color:red;">1</span>张
                    </span>
                    <a ng-click="toPhotographSample()">
                        <img src="img/exm.png" style="width:14px;vertical-align: middle;"> 示例
                    </a>
                </div>

                <div class="row row-wrap">

                    <div class="col col-33" ng-repeat="item in verificationCarPhotos">
                        <div class="imagFrame" ng-style="IMGH" ng-click="showCamera(item,verificationCarPhotos)">
                            <img ng-src="{{item.imageSrc}}" class="imagFrame1" />
                        </div>
                    </div>
                </div>

                <span class="col explainTextColor explain text-center">请上传验车照 图片清晰，图片需要包括当天的报纸</span>
            </div>


            <ion-item class="overallColor no-border row" style="padding: 5px 45px;">
                <div class="col">
                    <hr width=100% size=1 color=#9e9fa3>
                </div>
                <div class="col titleText tc">其他证件</div>
                <div class="col">
                    <hr width=100% size=1 color=#9e9fa3>
                </div>
            </ion-item>

            <div class="light-bg isr-morDetail">
                <div class="row ">
                    <span class="col">其他证件上传</span>
                </div>

                <div class="row">
                    <div class="col col-33" ng-repeat="item in otherDocumentsPhotos">
                        <div class="imagFrame" ng-style="IMGH" ng-click="showCamera(item,otherDocumentsPhotos)">
                            <img ng-src="{{item.imageSrc}}" class="imagFrame1" />
                        </div>
                    </div>
                </div>

                <span class="col explainTextColor explain">请上传证件照 图片要求在手机拍照框内，不反光，并清晰易辨认</span>

            </div>
        </div>



    </ion-content>
</ion-view>