<ion-view view-title="保单详情">
  <ion-content class="overallColor">
    <div class="card ">
      <div class="item mainText" style="padding:15px 0;">

    		<div class="tc titleTextColor titleText" style="padding:5px;">
    			尊敬的客户
    		</div>
    		<div class="tc mainTextColor" style="padding:10px;margin-bottom:10px;">
    			您的保单已报价成功，是否发送短信模板？
    		</div>

        <div class="row no-padding" style="">
  		  	<div class="col col-50 tc">
  		  		<div class="button titleText button-stable button-small" style="width:90%;height:35px;color:#fff;" ng-click="backBSapp()">
  		  			返回车险首页
  		  		</div>
  		  	</div>
  		  	<div class="col col-50 tc">
  		  		<div class="button titleText button-energized button-small" style="width:90%;height:35px;" ng-click="sendSMS()">
  		  			发送短信模板
  		  		</div>
  		  	</div>
  		  </div>
      </div>
    </div>
  </ion-content>
</ion-view>