<style>
    .popup-container .popup {
        background-color: rgba(255, 255, 255, 1);
        border-radius: 3px;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
    }
    
    .pcolor {
        color: #9e9fa3;
    }
    
    .popup-head {
        padding: 22px 10px 0px 10px;
        text-align: center;
        border-bottom: none;
    }
    
    .popup-body {
        border-bottom: 1px solid #eee;
    }
    
    .popup-buttons {
        padding: 0px 10px;
        min-height: auto;
    }
    
    .popup-buttons .button {
        background: none;
        margin-right: 0px;
    }
    
    .popup-buttons .button:last-child {
        color: #ffb606;
        border-left: 1px solid #eee !important;
    }
    
    .button.button-positive {
        background: none;
    }
    
    .button.button-positive:hover,
    .button.button-positive.active,
    .button.button-positive.activated {
        background: none;
        border: none;
        color: #ffd672;
    }
    
    .button.button-default:hover,
    .button.button-default.active,
    .button.button-default.activated {
        background: none;
        border: none;
        color: #616161;
    }
</style>
<p class="tc pcolor">您确定要删除订单？</p>