<style>
    .popup {
        border-radius: 5px !important;
        width: 75% !important;
        background-color: #fff !important;
        overflow: hidden;
    }
    
    .popup-head {
        padding: initial;
        border-bottom: initial;
    }
    
    .popup-body {
        padding: initial;
    }
</style>

<div style="padding:10px 10px 0 10px;border-bottom:1px solid #d7d7d7" rj-close-back-drop>
    <div class="tc titleTextColor titleText" style="padding:5px;">
        选择保险公司（单选）
    </div>
    <div class="row" style="padding:5px;margin-bottom:10px;">
        <span class="col" ng-repeat="item in insuranceCompanyList">
      <ion-checkbox class="mainTextColor mainText no-border selectCB"
          ng-model="item.isSelect" 
          ng-checked="item.isSelect"
          ng-change="disSelect(item)">
         <img ng-src="img/InsuranceLOGO_{{item.companyId}}.png" style="height: 29px;"/>
      </ion-checkbox>
    </span>
    </div>
</div>

<div class="item no-border tc imporBTColor titleText" style="margin-top:1px;" ng-click="selectCertain();">
    确定
</div>