<style>
    .popup {
        border-radius: 5px !important;
        width: 75% !important;
        background-color: #fff !important;
        overflow: hidden;
    }
    
    .popup-head {
        padding: initial;
        border-bottom: initial;
    }
    
    .popup-body {
        padding: initial;
    }
</style>

<div style="padding:10px 10px 0 10px;border-bottom:1px solid #eee">
    <div class="tc titleTextColor titleText" style="padding:5px;">
        温馨提示
    </div>
    <div class="tc mainTextColor" style="padding:5px;margin-bottom:10px;">
        {{popupContent}}
    </div>
</div>

<div class="item no-border tc imporBTColor titleText" style="margin-top:1px;" ng-click="backOther();">继续操作
</div>