<ion-modal-view style="width: 70%;position:absolute;top:0;right:0;border:1px solid #ccc;">
    <ion-header-bar class="bar bar-header">
        <h1 class="title" style="text-align:center">选择跟进人员</h1>
    </ion-header-bar>
    <ion-content class="overallColor changeRadioCss">
        <div class="height10"></div>
        <ion-list class="no-border " ng-repeat="item in insureAgent">
        <div style="padding-left:14px;background: white;">
            <span style="display:block;border-bottom: 1px solid #ddd;z-index: 10;padding: 6px 0;margin-right: 14px" class="radiocss3" ng-click="isSelect(item.insureAgentUid,$event,item.insureAgentUname)">
                <ion-radio ng-model="choice" ng-value="{{item.insureAgentUid}}">{{item.insureAgentUname}}</ion-radio>
            </span>
        </div>
        </ion-list>
        <button class="button button-energized" style="line-height: normal;min-height: initial;height:40px;width:80%;margin:40px auto;margin-left:10%;margin-right:10%" ng-click="modalHide()">确定</button>
    </ion-content>

</ion-modal-view>