<ion-modal-view>
    <ion-content scroll="false" class="logoContent">
        <ion-scroll style="height:100%">
            <div style="position: relative;">
                <div class="itemLogo">
                    <img src="img/logo.png" alt="">
                </div>
                <form ng-submit="doLogin(dataForm)" name="dataForm" novalidate="novalidate">
                    <div class="item">
                        <label class="item-input userInput userName">
                            <i class="icon ion-ios-person placeholder-icon userIcon"></i>
                            <input type="text" ng-model="loginData.username" placeholder="请输入登录账号" required autocapitalize="off">
                        </label>
                    </div>
                    <div class="item">
                        <label class="item-input userInput userPW">
                            <i class="icon ion-ios-unlocked-outline placeholder-icon userIcon"></i>
                            <input type="password" ng-model="loginData.password" placeholder="请输入登录密码" required>
                        </label>
                    </div>
                    <div class="itemBtn">
                        <button class="button allBtnShow btnSubmit" type="submit" ng-disabled="dataForm.$invalid" ng-model="loginBtn" ng-bind="loginBtn"></button>
                    </div>
                </form>
                <!-- <div class="contact">
                    <a class="telphone-a"><i class="ion-ios-telephone"></i></a>
                    <div>
                        联系客服
                    </div>
                </div> -->
            </div>
        </ion-scroll>
    </ion-content>
</ion-modal-view>
